body {
  background-color: rosybrown;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  margin-left: 20px;
}

#joke-inputs {
  text-align: center;
}

.joke {
  margin-bottom: 45px;
  margin-left: 40px;
}

.jokeAuthor {
  font-style: italic;
}
